h1{
	width: 800px;
	text-align: center;
	border:2px solid red;
	background-color: yellow;
	border-radius: 10px;
	margin-left: 400px;
}

body{

	width: 100%;
	height: 800px;
	background-image: url(images/cifap.png);
	background-repeat: no-repeat;
	background-position: bottom right ;
}
li:nth-child(5){
	background: grey;
	width: 60px;
	height: 20px;
	border: black 1px dotted;
	border-radius: 10%;
}
li:nth-child(5) a{
	text-decoration: none;
	color: pink;
}

li{
	margin-bottom: 50px;
	list-style-type: none;
}
a.david{
	color:yellow;
	padding: 20px 100px;
	background: purple;
	border: 2px solid red;
	text-decoration: none;
	box-shadow: 8px 8px 12px #aaa;
}
a.david:hover{
	color:#0040FF;
	background: white;
	border: 2px solid #0040FF;
}
a.patrick{
	color: #282828;
	padding: 20px 100px;
	background: lightblue;
	border: 2px solid grey;
	text-decoration: none;
	box-shadow: 8px 8px 12px #aaa;
}