h1{
	width: 800px;
	text-align: center;
	border:2px solid red;
	background-color: yellow;
	border-radius: 10px;
	margin-left: 400px;
}

body{

	width: 100%;
	height: 800px;
	background-image: url(images/cifap.png);
	background-repeat: no-repeat;
	background-position: bottom right ;
}


dl.menu{
     position: absolute;
     top: 20px;
     transform-origin: 50% 115px;
}
dl.menu dd{
     transform: rotate(180deg);
}
dl.menu:hover{
     transform: rotate(-180deg);
}
dl.menu:hover{
     animation: bounceIn 0.7s ease-in-out ;
}
@keyframes bounceIn {
     from {transform: rotate(0deg);}
     75%  {transform: rotate(-200deg);}
     90%  {transform: rotate(-175deg);}
     to   {transform: rotate(-180deg);}
}
div.menu{
     animation: bounceOut 0.7s ease-in-out;
}
@keyframes bounceOut {
     from {transform: rotate(-360deg);}
     0%   {transform: rotate(-180deg);}
     10%  {transform: rotate(-160deg);}
     to   {transform: rotate(-360deg);}
}